body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.hello {
  /* margin: 0 auto; */
  font-size: 70px;
}

h1 {
    font-family: 'Pacifico', cursive;
    margin-top: 50px;
}

h1, h2 {
  color: #66BFBF
}

h2 {
  font-weight: normal;
}

h3, a {
  color: #11999E
}

.skill-row {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}


.pic {
    padding-top: 20px;
    width: 15%;
    border-radius: 100%;
}

.pic-skill1 {
  float: left;
  width: 20%;
  border-radius: 100%;
  margin-right: 50px;
  margin-bottom: 40px;
}

.pic-skill2 {
  float: right;
  width: 20%;
  border-radius: 100%;
  margin-left: 50px;
  margin-bottom: 40px;
}

.top-container {
  padding-top: 80px;
  background-color: #EAF6F6;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  top: 350px;
}

hr {
  width: 4%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-style: dotted none none none;
  border-width: 8px;
  border-color: #EAF6F6;
}

.before-btn {
  margin-bottom: 50px;
}

.btn {
  margin: 40px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -moz-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -ms-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -o-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: linear-gradient(to bottom, #30e3cb, #30e3cb);
  text-decoration: none;
}

.bottom-container {
  margin-top: 50px;
  background-color: #66BFBF;
  padding: 40px;
}

.bottom-container p {
  margin-top: 20px;
  color: #EAF6F6;
  margin-bottom: none;
}

.bottom-container a {
  padding: 10px;
}

.title {
  text-decoration: underline;
  font-size: 1.5rem;
}
