a {
  font-size: 1.2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.feature-icon {
    color: #ef8172;
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
}

.feature-icon:hover {
    color: #ff4c68
}

.brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
}

.container-fluid {
  padding: 3% 15%;
}

.download-btn {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.nav-bar {
  margin-bottom: 1.5rem;
}

.nav-container {
  padding-left: 0px;
}

.nav-item {
  padding: 0 18px;
}

.page-header {
  color: white;
  margin-bottom: 1.5rem;
}

#features {
    margin: 2rem;
    text-align: center;
}

#phone {
  transform: rotate(25deg);
  width: 60%;
}

#title {
  background-color: #ff4c68;
}

#testimonials {
    padding: 7% 15%;
}
