body {
    background-color: #E8F9FD;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 30%;
}

table {
    margin-left: auto;
    margin-right: auto; 
}


.profile-pic {
    width: 250px;
    border-radius: 50%;
    border: 5px solid white;
}

.title {
    text-decoration: underline;
}

h1 {
    color: #0AA1DD;
}

p {
    padding: 20px;
}


.p-table, h3, .link {
    text-align: center;
    color: #79DAE8
}

